<form action="/in/input" method="POST">
    <div class="form-group">
      <label for="name">kode</label>
      <input
        type="name"
        id="name"
        name="name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="email">nama barang</label>
      <input
        type="date"
        id="date"
        name="date"
        class="form-control"
      />
    </div>
    <label for="name">TOTAL IN</label>
    <input
      type="name"
      id="name"
      name="name"
      class="form-control"
    />
  </div>
</div>
<label for="name">tanggal masuk</label>
<input
  type="date"
  id="name"
  name="name"
  class="form-control"
/>
</div>
</div>
<label for="name">no invoice</label>
<input
  type="name"
  id="name"
  name="name"
  class="form-control"
/>
</div>
</div>
<label for="name">eterangan</label>
<input
  type="name"
  id="name"
  name="name"
  class="form-control"
/>
</div>

    <button type="submit" class="btn btn-primary btn-block">
      Add Movies
    </button>