body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#result {
  height: auto;
  width: 20%;
  z-index: 5;
  background-color: rgb(255, 254, 254);
  position: absolute;
  left: 10%;
  border-radius: 5px;
  opacity: 80%;
  padding: 5px;
}
#divh3:hover{
  background-color: rgb(255, 255, 255);


}