<html>
  <div>
    <!-- <p>Expresion : {{ 10 + 20 }}</p>
    <p>jumlah : {{jumlah}}</p> 
    <p>harga : {{harga}}</p> 
    <p>total : {{jumlah * harga}}</p> 
    <h5> menjalankan project angular bernama {{title + " selama " + topic}} </h5>
    <h2>nama saya adalah {{nama.namaDepan +" "+ nama.namaBelakang + " berumur " + (nama.umur + 10)}}</h2>
    <p>array: {{nomor[5]}}</p>
    <p>array: {{nomor}}</p> -->
    <div>
      <h2>{{pesan}}</h2>
    </div>
    <app-new-component (childEvent)="pesan=$event" [parentData]="message"></app-new-component>
  </div>
</html>
<router-outlet></router-outlet>
