<!-- <p><x%= movieinfo._id%></p>
<p><x%= movieinfo.name%></p>
<p><x%= movieinfo.released_on%></p> -->

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia quae perferendis dolor quos vitae eius beatae. Impedit, accusamus modi. Mollitia aliquam, ipsum sunt ea cumque non cum est fugiat nisi!</p>
<P><%= hasil.name %></P>