<!-- yang dirender pada halaman welcome -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>
    <button type="button" class="btn btn-danger" onclick="window.location.href='/users/login'">login</button>
  </body>
</html>
