<%- include ('../_header') %>

<a href="/dataStock/input" class="btn btn-secondary">input Stock</a>

<div style="display: flex; align-items: center; justify-content: center">
  <div class="w-100 p-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="14%">KODE BARANG</th>
          <th width="14%">NAMA BARANG</th>
          <th width="14%">TOTAL MASUK</th>
          <th width="14%">TANGGAL MASUK</th>
          <th width="14%">NO INVOICE</th>
          <th width="14%">HARGA SATUAN</th>
          <th width="14%">ACTION</th>
        </tr>
      </thead>
      <tbody id="table">
        <!-- tempat data -->
      </tbody>
      <tfoot>
        <tr>
          <td>
            <h4>page: <span id="page"></span></h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="d-grid gap-2 d-md-block">
  <button id="prevPageBtn" class="btn btn-primary btn-lg" onclick="prevPage()">
    Previous
  </button>
  <button id="nextPageBtn" class="btn btn-primary btn-lg" onclick="nextPage()">
    Next
  </button>
</div>

<script>
  let liststock;
  fetch("dataStock/json", {
    headers: { "Content-type": "application/json" },
  })
    .then((response) => response.json())
    .then((data) => {
      liststock = data;
      updateTable();
    });

  const rowsPerPage = 10;
  let currentPage = 1;
  let startIndex, endIndex;

  function updateTable() {
    const startIndex = (currentPage - 1) * rowsPerPage;
    const endIndex = Math.min(startIndex + rowsPerPage, liststock.length);

    const table = document.getElementById("table");
    table.innerHTML = "";
    for (let x = startIndex; x < endIndex; x++) {
      const data = liststock[x];
      const newRow = document.createElement("tr");
      table.appendChild(newRow);

      const tdkode = document.createElement("td");
      tdkode.textContent = data.kode;
      newRow.appendChild(tdkode);

      const tdnama = document.createElement("td");
      tdnama.textContent = data.nama;
      newRow.appendChild(tdnama);

      const tdtotal_in = document.createElement("td");
      tdtotal_in.textContent = data.total_in;
      newRow.appendChild(tdtotal_in);

      const tddate_in = document.createElement("td");
      tddate_in.textContent = data.date_in;
      newRow.appendChild(tddate_in);

      const tdno_invoice = document.createElement("td");
      tdno_invoice.textContent = data.no_invoice;
      newRow.appendChild(tdno_invoice);

      const tdharga_satuan = document.createElement("td");
      tdharga_satuan.textContent = data.harga_satuan;
      newRow.appendChild(tdharga_satuan);

      const tdaction = document.createElement("td");
      const deleteLink = document.createElement("a");
      deleteLink.href = `/dataStock/delete/${data.id}`;
      deleteLink.className = "btn btn-danger";
      deleteLink.textContent = "Delete";
      tdaction.appendChild(deleteLink);
      newRow.appendChild(tdaction);
    }
    const page = document.getElementById("page");
    page.textContent = currentPage;
  }
  function nextPage() {
    currentPage++;
    updateTable();
  }
  function prevPage() {
    if (currentPage > 1) {
      currentPage--;
      updateTable();
    }
  }
  const page = document.getElementById("page");
  page.textContent = currentPage;
</script>
