<div>
<!-- <input type="text" value="cara 1" [id]="ID" [disabled]="isDisabled">
<input type="text" value="cara 2" id="{{ID}}" disabled="{{isDisabled}}">
<input type="text" value="cara 3" bind-id="ID" bind-disabled="isDisabled"> -->

<h1 [class]="success">class binding</h1>
<h1 [class]="error">class binding</h1>
<h1 [class]="bold">class binding</h1>

<!-- memanggil class textred dengan kondisi true /false -->
<h1 [class.textred]="isError">class binding</h1>

<!-- memanggil class object -->
<p [ngClass]="message">class binding</p>







</div>
