<!-- <input type="text" #valueInput />
<button (click)="onClick(valueInput.value)">
    Click!!!
</button>

<input type="text" [(ngModel)]="nama" />
{{nama}} -->

<!-- <div *ngIf="display; then IFtrue else IFfalse"></div>
<ng-template #IFtrue>
    <h2>
        text is Shown
    </h2>
</ng-template>

<ng-template #IFfalse>
    <h2>
        text is hidden
    </h2>
</ng-template> -->

<!-- <div [ngSwitch]="buah">
<div *ngSwitchCase="'apel'">saya pilih buah {{buah}}</div>
<div *ngSwitchCase="'jeruk'">saya pilih buah {{buah}}</div>
<div *ngSwitchCase="'melon'">saya pilih buah {{buah}}</div>
<div *ngSwitchCase="'mangga'">saya pilih buah {{buah}}</div>
<div *ngSwitchDefault>{{buah}} tidak tersedia</div>
</div> -->
<!-- <ol>
  <li *ngFor="let sayur of sayuran">
    {{ sayur }}
  </li>
</ol>
<div *ngFor="let item of hewan">{{ item.nama }} : {{ item.jenis }}</div>

<ul>
  <li *ngFor="let bunga of tanaman | keyvalue">
    {{ bunga.key }}: {{ bunga.value }}
  </li>
</ul> -->
<!-- <div>
    <h2>{{parentData}}</h2>
    <button (click)="sendEvent()">kirim event</button>
</div> -->
<!-- <h2>{{dataPipes | uppercase}}</h2>
<p>{{tanaman | json}}</p>
<h2>{{5.264 | number:'2.1-2'}}</h2>
{{ today | date:'dd/MM/yyyy' }} 
<h2>{{1200 | currency}}</h2> -->
<div>
    <a href="/class">kelas</a>
</div>


