<div class="ui inverted menu">
    <a class="active item">
      Home
    </a>
    <a class="item" href="/items">
      POST
    </a>
    <a class="item" href="/items/itemGet" >
      GET
    </a>
  </div>