<div class="ui inverted menu">
  <a class="item" href="#" >
    <i class="user icon"></i><%= username %>
  </a>
  <a class="item" href="/items">
    Add Stocks
  </a>
  <a class="item" href="/items/itemGet" >
    Dashboard
  </a>

  <a class="item" href="/users/logOut" >
    Log Out
  </a>
  <p><%= username%></p>

</div>
