<form class="ui form" action="/users/register" method="post">
    <div class="field">
      <label>Name </label>
      <input type="text" name="name" placeholder="Input Name">
    </div>
    <div class="field">
        <label>Email </label>
        <input type="text" name="email" placeholder="Input Email">
      </div>
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Input Username">
      </div>
    <div class="field">
      <label>Password</label>
      <input type="text" name="password" placeholder="Input Password">
    </div>
    <div class="field">
        <label>Confirm password</label>
        <input type="text" name="password2" placeholder="Password Confirmation">
      </div>

    <button class="ui button" type="submit">Register</button>
  </form>
  <p class="lead mt-4">
    Have Account? <a href="/users/login">Login</a>
  </p>